.section {
    padding: 50px 0;
    position: relative;
  }
  .section__title-wrap {
    position: relative;
    margin-bottom: 20px;
  }
  .section__title {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 20px;
  }
  .section__title b {
    font-weight: 600;
  }
  .section__title--mb0 {
    margin-bottom: 0;
  }
  .section__text {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .section__text:last-child {
    margin-bottom: 0;
  }
  .section__text b {
    font-weight: 600;
    color: #fff;
  }
  .section__text a {
    color: #f9ab00;
  }
  .section__text a:hover {
    color: #f9ab00;
    text-decoration: underline;
  }
  .section__list ol {
    padding-left: 0;
    list-style: none;
    counter-reset: li;
    margin-bottom: 0;
  }
  .section__list ol ol {
    padding-left: 15px;
    margin-top: 10px;
  }
  .section__list ol ol ol {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section__list ol ol ol li {
    margin-top: 5px;
  }
  .section__list ol h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .section__list ol li {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    position: relative;
  }
  .section__list ol li b {
    font-weight: 600;
    color: #fff;
  }
  .section__list ol li a {
    color: #f9ab00;
  }
  .section__list ol li a:hover {
    color: #f9ab00;
    text-decoration: underline;
  }
  .section__list ol li:last-child {
    margin-bottom: 0;
  }
  .section__list ol li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
  }
  .section__nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .section__view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    color: #fff;
    border-radius: 6px;
    background-color: #222028;
    font-size: 14px;
    margin-right: auto;
  }
  .section__view:hover {
    color: #f9ab00;
  }
  .section__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 6px;
    background-color: #222028;
    font-size: 16px;
  }
  .section__nav--prev {
    margin-right: 20px;
  }
  .section__nav:hover {
    color: #f9ab00;
  }
  .section__carousel .card {
    margin-bottom: 0;
  }
  .section__wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .section--first {
    margin-top: 70px;
  }
  .section--first .section__title {
    margin-bottom: 0;
  }
  .section--details {
    margin-top: 70px;
    border-bottom: 1px solid #222028;
  }
  .section--border {
    border-top: 1px solid #222028;
  }
  .section--blue {
    background-color: #222028;
  }
  .section--top {
    padding-top: 20px;
  }
  @media (min-width: 768px) {
    .section {
      padding: 70px 0;
    }
    .section__title-wrap {
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .section__title {
      font-size: 34px;
      margin-bottom: 0;
    }
    .section__title--mb {
      margin-bottom: 20px;
    }
    .section__title--sidebar {
      margin-bottom: 30px;
    }
    .section__wrap {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .section__nav-wrap {
      width: auto;
    }
    .section__view {
      margin-right: 30px;
    }
    .section--first,
    .section--details {
      margin-top: 80px;
    }
    .section--top {
      padding-top: 40px;
    }
  }
  @media (min-width: 1200px) {
    .section__title {
      font-size: 36px;
    }
  }
  