/*==============================
	Profile
==============================*/
.profile {
    background-color: #1a191f;
    border-bottom: 1px solid #222028;
  }
  .profile__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 20px 0;
  }
  .profile__user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  .profile__meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .profile__meta h3 {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .profile__meta span {
    color: rgba(255,255,255,0.7);
    font-size: 14px;
  }
  .profile__avatar {
    display: block;
    position: relative;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #222028;
    margin-right: 15px;
  }
  .profile__avatar img {
    width: 100%;
  }
  .profile__logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 15px;
    top: 25px;
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #f9ab00;
  }
  .profile__logout:hover {
    color: #fff;
    background-color: rgba(249,171,0,0.05);
  }
  .profile__logout span {
    display: none;
  }
  .profile__logout i {
    color: #fff;
    font-size: 22px;
  }
  @media (min-width: 768px) {
    .profile__content {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      height: 80px;
    }
    .profile__user {
      margin-bottom: 0;
      margin-right: 40px;
    }
    .profile__logout {
      margin-left: auto;
      margin-top: 0;
      width: 120px;
      position: relative;
      top: auto;
      right: auto;
    }
    .profile__logout i {
      display: none;
    }
    .profile__logout span {
      display: block;
    }
  }
  @media (min-width: 1200px) {
    .profile__user {
      margin-right: 60px;
    }
  }
  @media (min-width: 1440px) {
    .profile__user {
      margin-right: 80px;
    }
  }