/*==============================
	Comments
==============================*/
.comments {
    margin-bottom: 50px;
  }
  .comments__autor {
    display: block;
    position: relative;
    padding-left: 55px;
    margin-bottom: 15px;
  }
  .comments__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    border-radius: 6px;
  }
  .comments__name {
    display: block;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
  }
  .comments__time {
    display: block;
    font-size: 12px;
    color: rgba(255,255,255,0.6);
    line-height: 20px;
    font-weight: 400;
  }

  .comments__text {
    display: block;
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    background-color: #1a191f;
    padding: 0 20px 20px 20px;
    position: relative;
    border: 1px solid #222028;
    border-radius: 0 0 10px 10px;
  }
  .comments__text span {
    display: block;
    background-color: #222028;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    min-height: 80px;
    border-radius: 6px;
    color: #fff;
  }
  .comments__text span:before {
    content: '\f1f5';
    position: absolute;
    display: block;
    font-family: "Ionicons";
    color: rgba(249,171,0,0.1);
    font-size: 60px;
    top: 10px;
    left: 15px;
    line-height: 100%;
    z-index: 1;
    pointer-events: none;
  }
  .comments__item {
    margin-bottom: 20px;
    display: block;
  }
  .comments__item--answer,
  .comments__item--quote {
    margin-left: 25px;
  }
  .comments__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #1a191f;
    padding: 15px 20px;
    border: 1px solid #222028;
    position: relative;
    border-radius: 0 0 6px 6px;
  }
  .comments__actions button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: rgba(255,255,255,0.6);
    margin-right: 20px;
    height: 22px;
    text-transform: uppercase;
    font-weight: 400;
  }
  .comments__actions button i {
    margin-right: 5px;
  }
  .comments__actions button:hover {
    color: #f9ab00;
  }
  .comments__actions button:last-child {
    margin-right: 0;
  }
  .comments__rate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .comments__rate button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    margin-right: 25px;
    position: relative;
    height: 30px;
  }
  .comments__rate button i {
    font-size: 18px;
    opacity: 0.6;
    transition: 0.4s ease;
  }
  .comments__rate button:last-child {
    margin-right: 0;
  }
  .comments__rate button:last-child i {
    margin-left: 6px;
    color: #eb5757;
  }
  .comments__rate button:first-child i {
    margin-right: 6px;
    color: #29b474;
  }
  .comments__rate button:first-child:before {
    content: '';
    position: absolute;
    display: block;
    left: 100%;
    margin-left: 12px;
    width: 1px;
    height: 15px;
    background-color: #222028;
    top: 50%;
    transform: translateY(-50%);
  }
  .comments__rate button:hover {
    color: #fff;
  }
  .comments__rate button:hover i {
    opacity: 1;
  }
  @media (min-width: 768px) {
    .comments {
      margin-bottom: 70px;
    }
    .comments__item {
      margin-bottom: 30px;
    }
    .comments__item--answer,
    .comments__item--quote {
      margin-left: 40px;
    }
  }
  @media (min-width: 992px) {
    .comments {
      margin-bottom: 30px;
      padding-right: 30px;
    }
  }
  @media (min-width: 1200px) {
    .comments {
      padding-right: 45px;
    }
    .comments .form {
      padding: 20px;
    }
  }
  @media (min-width: 1440px) {
    .comments {
      padding-right: 60px;
    }
  }
  .comments__heading {
    color: white;
    padding: 20px;
    margin-bottom: 0px;
    border: 1px solid #222028;
    border-radius: 10px 10px 0 0;
  }

  .flex-title{
    display: flex;
    align-items: center;
  }

  .user-info{
    margin-left: 10px;
  }