/*==============================
	Filter
==============================*/
.filter {
    background-color: #1a191f;
    margin-bottom: 20px;
    border-bottom: 1px solid #222028;
  }
  .filter__item {
    position: relative;
    margin-bottom: 20px;
  }
  .filter__item-label {
    font-size: 12px;
    line-height: 100%;
    display: block;
    color: rgba(255,255,255,0.7);
    font-weight: 400;
    margin-bottom: 5px;
  }
  .filter__item-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    height: 20px;
  }
  .filter__item-btn input {
    display: block;
    position: relative;
    width: auto;
    background-color: transparent;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    height: 20px;
    margin-right: 10px;
  }
  .filter__item-btn span {
    position: relative;
    width: 16px;
    height: 16px;
    display: block;
    margin-top: 1px;
  }
  .filter__item-btn span:before,
  .filter__item-btn span:after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    left: 0;
    top: 50%;
    transition: 0.4s ease;
    margin-top: -5px;
  }
  .filter__item-btn span:after {
    margin-top: 2px;
    width: 10px;
  }
  .filter__item-btn[aria-expanded="true"] span:before {
    background-color: #f9ab00;
    transform: rotate(45deg);
    margin-top: -1px;
  }
  .filter__item-btn[aria-expanded="true"] span:after {
    background-color: #f9ab00;
    margin-top: -1px;
    width: 16px;
    transform: rotate(-45deg);
  }
  .filter__item-btn:hover span:before,
  .filter__item-btn:hover span:after {
    background-color: #f9ab00;
  }
  .filter__item-menu {
    position: absolute;
    background-color: #222028;
    top: 100%;
    left: 0;
    margin-top: 0;
    min-width: 200px;
    padding: 20px;
    display: block;
    transition: 0.4s ease;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    max-height: 200px;
    border-radius: 6px;
  }
  .filter__item-menu li {
    display: block;
    font-size: 14px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease;
    margin-bottom: 15px;
  }
  .filter__item-menu li:last-child {
    margin-bottom: 0;
  }
  .filter__item-menu li:hover {
    color: #f9ab00;
  }
  .filter__item-menu.show {
    pointer-events: auto;
    opacity: 1;
    margin-top: 10px;
  }
  .filter__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
  }
  .filter__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #f9ab00;
  }
  .filter__btn:hover {
    color: #fff;
    background-color: rgba(249,171,0,0.05);
  }
  .filter__range {
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .filter__range div {
    position: relative;
  }
  .filter__range div:first-child {
    margin-right: 18px;
  }
  .filter__range div:first-child:after {
    content: '–';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
  }
  @media (min-width: 768px) {
    .filter {
      margin-bottom: 30px;
    }
    .filter__content {
      padding: 30px 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }
    .filter__items {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
    .filter__item {
      margin-bottom: 0;
      margin-right: 60px;
    }
    .filter__item:last-child {
      margin-right: 0;
    }
    .filter__btn {
      margin-top: 30px;
    }
  }
  @media (min-width: 992px) {
    .filter__content {
      padding: 0;
      height: 80px;
    }
    .filter__items {
      width: auto;
    }
    .filter__btn {
      margin-top: 0;
    }
    .filter--fixed {
      position: sticky;
      top: 0;
      z-index: 102;
    }
  }

  /* range slider */
.noUi-target {
  background: #1a191f;
  border-radius: 0;
  border: none;
  box-shadow: none;
}
.noUi-horizontal {
  height: 4px;
  margin: 10px 0;
}
.noUi-connects {
  background-color: #1a191f;
  border-radius: 2px;
  border: none;
}
.noUi-connect {
  background-color: #f9ab00;
}
.noUi-handle {
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.noUi-handle:before,
.noUi-handle:after {
  display: none;
}
.noUi-handle:focus {
  outline: none;
}
.noUi-handle.noUi-handle-lower {
  background-color: #f9ab00;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.noUi-handle.noUi-handle-upper {
  background-color: #f9ab00;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -8px;
}