.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  .card__cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background-color: #222028;
  }
  .card__cover img {
    width: 100%;
    transition: opacity 0.5s;
  }
  .card__cover:hover img {
    opacity: 0.4;
  }
  .card__cover:hover .card__play {
    opacity: 1;
    transform: scale(1);
  }
  .card__play {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    z-index: 3;
    font-size: 30px;
    color: #f9ab00;
    transition: 0.5s;
    transform: scale(0.9);
    transition-property: opacity, background-color, color, border-color, transform;
    opacity: 0;
    border: 6px solid rgba(255,255,255,0.15);
  }
  .card__play i {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    padding: 1px 0 0 4px;
  }
  .card__play:hover {
    border-color: rgba(249,171,0,0.5);
    color: #f9ab00;
  }
  .card__content {
    position: relative;
    display: block;
    margin-top: 10px;
    width: 100%;
  }
  .card__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  .card__title a {
    color: #fff;
  }
  .card__title a:hover {
    color: #f9ab00;
  }
  .card__category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
  }
  .card__category a {
    font-size: 14px;
    position: relative;
    color: #f9ab00;
    margin-right: 10px;
    opacity: 0.8;
  }
  .card__category a:after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    color: #f9ab00;
  }
  .card__category a:last-child {
    margin-right: 0;
  }
  .card__category a:last-child:after {
    display: none;
  }
  .card__category a:hover {
    opacity: 1;
  }
  .card__rate {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    top: 15px;
    left: 15px;
    background-color: rgba(26,25,31,0.6);
    border: 2px solid transparent;
    border-radius: 50%;
  }
  .card__rate--green {
    border-color: #29b474;
  }
  .card__rate--yellow {
    border-color: #ffc312;
  }
  .card__rate--red {
    border-color: #eb5757;
  }
  .card__meta {
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
  }
  .card__meta span {
    color: #fff;
    margin-right: 10px;
  }
  .card__meta li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
  }
  .card__meta li:last-child {
    margin-bottom: 0;
  }
  .card__meta a {
    font-size: 16px;
    position: relative;
    color: #f9ab00;
    margin-right: 8px;
    opacity: 0.8;
  }
  .card__meta a:after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    color: #f9ab00;
  }
  .card__meta a:last-child {
    margin-right: 0;
  }
  .card__meta a:last-child:after {
    display: none;
  }
  .card__meta a:hover {
    opacity: 1;
  }
  .card__description {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    max-height: 200px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #222028;
    padding: 15px 30px 15px 20px;
  }
  .card__trailer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 100%;
    max-width: 250px;
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #f9ab00;
    margin-top: 20px;
  }
  .card__trailer i {
    font-size: 22px;
    margin-right: 15px;
    transition: color 0.4s;
  }
  .card__trailer:hover {
    color: #fff;
    background-color: rgba(249,171,0,0.05);
  }
  .card__trailer:hover i {
    color: #f9ab00;
  }
  .card--details {
    margin-bottom: 20px;
  }
  .card--details .card__cover {
    max-width: 250px;
  }
  .card--details .card__cover:hover img {
    opacity: 1;
  }
  .card--details .card__cover:hover:before {
    opacity: 0;
  }
  .card--details .card__content {
    margin-top: 20px;
  }
  @media (min-width: 576px) {
    .card--big .card__title {
      font-size: 20px;
    }
  }
  @media (min-width: 768px) {
    .card {
      margin-bottom: 30px;
    }
    .card--big .card__rate {
      top: 20px;
      left: 20px;
    }
    .card--details {
      margin-top: 10px;
    }
    .card--details .card__cover {
      max-width: 100%;
    }
    .card--details .card__content {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 100%;
    }
    .card--details .card__description {
      max-height: 175px;
    }
  }
  @media (min-width: 992px) {
    .card--details .card__description {
      max-height: 180px;
    }
  }
  @media (min-width: 1200px) {
    .card--big .card__title {
      font-size: 22px;
    }
    .card--big .card__play {
      width: 70px;
      height: 70px;
      font-size: 34px;
      margin: -35px 0 0 -35px;
    }
    .card--big .card__category a {
      font-size: 16px;
    }
    .card--details {
      margin-bottom: 0;
    }
    .card--details .card__description {
      max-height: 140px;
    }
  }
  @media (min-width: 1440px) {
    .card--details .card__description {
      max-height: 200px;
    }
  }
  