@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");

/*==============================
Home
==============================*/

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #1a191f;
  -webkit-font-smoothing: antialiased;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
  transition-property: color, background-color, border-color, opacity;
}
button:focus {
  outline: none;
}
a {
  transition: 0.4s;
  transition-property: color, background-color, border-color, opacity;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
input,
textarea,
select {
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: none;
  transition: 0.4s;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-moz-selection {
  background: #f9ab00;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #f9ab00;
  color: #fff;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,0.75);
  opacity: 1;
}
::-moz-placeholder {
  color: rgba(255,255,255,0.75);
  opacity: 1;
}
:-moz-placeholder {
  color: rgba(255,255,255,0.75);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.75);
  opacity: 1;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1310px;
  }
}
.row--grid,
.row--form {
  margin-left: -10px;
  margin-right: -10px;
}
.row--grid .col-12,
.row--form .col-12,
.row--grid .col-6,
.row--form .col-6 {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .row--grid {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row--grid .col-12,
  .row--grid .col-6 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.fade {
  transition: opacity 0.25s linear;
}
@media screen and (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.body:before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(26,25,31,0.75);
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
}
.body--active:before {
  z-index: 99;
  opacity: 1;
  pointer-events: auto;
}

/*==============================
	Main
==============================*/
.main__table {
  width: 100%;
  min-width: 500px;
  border-spacing: 0;
}
.main__table thead {
  border-bottom: 1px solid #1a191f;
}
.main__table thead th {
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  font-weight: 400;
  padding: 0 10px 15px 0;
  line-height: 100%;
  margin-bottom: 0;
  border: none;
}
.main__table tbody tr {
  border-bottom: none;
  background-color: transparent;
}
.main__table tbody td {
  padding: 0;
  background-color: transparent;
  border: 0px solid transparent;
}
.main__table tbody td:first-child .main__table-text {
  border-radius: 6px 0 0 6px;
}
.main__table tbody td:last-child .main__table-text,
.main__table tbody td:last-child .main__table-btns {
  border-radius: 0 6px 6px 0;
}
.main__table tbody td .main__table-text {
  background-color: transparent;
  padding: 10px 15px 0 0;
}
.main__table-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  padding: 20px;
  background-color: #1a191f;
  white-space: nowrap;
}
.main__table-text a {
  color: #fff;
}
.main__table-text a:hover {
  color: #f9ab00;
}
.main__table-text i {
  font-size: 14px;
  margin-right: 6px;
  color: #ffc312;
  line-height: 24px;
  margin-top: 1px;
}
.main__table-text--rate {
  font-weight: 600;
  font-size: 16px;
}
.main__table-text--rate i {
  font-weight: normal;
}
.main__table-text--red {
  color: #eb5757;
}
.main__table-text--green {
  color: #29b474;
}
.main__table-text--grey {
  color: rgba(255,255,255,0.5);
}