.contacts__list {
  margin-bottom: 20px;
}
.contacts__list li {
  margin-bottom: 10px;
}
.contacts__list li:last-child {
  margin-bottom: 0;
}
.contacts__list a {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.contacts__list a:hover {
  color: #f9ab00;
}
.contacts__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contacts__social a {
  margin-right: 20px;
}
.contacts__social a svg {
  width: 30px;
  height: auto;
  transition: opacity 0.4s;
}
.contacts__social a:last-child {
  margin-left: 0;
}
.contacts__social a:hover svg {
  opacity: 0.7;
}



.form {
  background-color: #1a191f;
  border: 1px solid #222028;
  padding: 20px;
  border-radius: 6px;
}
.form__title {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}
.form__label {
  font-weight: 400;
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  display: block;
}
.form__input {
  margin-bottom: 20px;
  width: 100%;
  background-color: #222028;
  border: 2px solid transparent;
  height: 46px;
  position: relative;
  color: #fff;
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
  padding: 0 20px;
}
.form__input:focus {
  border-color: #f9ab00;
}
.form__textarea {
  border: 2px solid transparent;
  height: 150px;
  position: relative;
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  resize: none;
  background-color: #222028;
  border-radius: 6px;
  margin-bottom: 20px;
}
.form__textarea:focus {
  border-color: #f9ab00;
}
.form__select {
  /* background: url("../img/arrow.svg") no-repeat center right 20px #222028; */
  background-size: 12px auto;
  border: 2px solid transparent;
  border-radius: 6px;
  height: 46px;
  position: relative;
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.form__select:focus {
  border-color: #f9ab00;
}
.form__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 140px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #f9ab00;
}
.form__btn:hover {
  color: #fff;
  background-color: rgba(249,171,0,0.05);
}
.form__slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}
.form__slider:before {
  content: 'Rate:';
  position: absolute;
  bottom: 100%;
  left: 0;
  display: block;
  color: #fff;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
}
.form__slider-rating {
  width: 140px;
  margin-right: 20px;
}
.form__slider-rating .noUi-connects {
  background-color: #222028;
  border-radius: 4px;
  border: none;
}
.form__slider-rating .noUi-handle.noUi-handle-lower {
  background-color: #f9ab00;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.form__slider-value {
  font-size: 16px;
  color: #fff;
}
.form--contacts {
  margin-top: 10px;
  margin-bottom: 50px;
}
.form--profile {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .form--contacts {
    margin-bottom: 0;
    margin-top: 0;
  }
  .form--profile {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding: 30px;
  }
}